{% extends "parent.html" %}
{% block content %}

<h1>Hello guys!!!</h1>
<br>
 {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        {% if 'logged_in' in session %}
        <p>Click <a href="logout">here</a> to logout.</p>
        {% else %}
        <p>Click <a href="logout">here</a> to login.</p>
        {% endif %}

{% endblock %}

        {% for message in get_flashed_messages() %}
            {{ message }}
        {% endfor %}
        {% if 'logged_in' in session %}
        <p>Click <a href="logout">here</a> to logout.</p>
        {% else %}
        <p>Click <a href="logout">here</a> to login.</p>
        {% endif %}
